
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --brand-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.container{
    width: 1230px;
    padding:  0 15px 0 15px;
    margin: 0 auto;
}

.section{
    padding: 94px 0 94px 0;
}

.hidden{
    display: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo {
    color: var(--brand-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 25px 0;
    display: inline-block;
}

.logo-dark-color {
    color: #000000;
}

.logo-bright-color {
    color: #ffffff;
}

.main-nav-list,
.contacts{
    margin: 0;
    padding: 0;
}

.main-nav-item a {
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em;
}

.contacts-item a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.main-nav-item a:hover,
.main-nav-item a:focus,
.contacts-item a:hover,
.contacts-item a:focus {
    color: var(--brand-color)
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;  
    line-height: 1.36;
    letter-spacing: 0.06em;
    margin: 0 0 32px;
}
.hero-btn {
    color: #ffffff;
    background-color: var(--brand-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
}

.ourTeam {
    background: #F5F4FA;
}

.skills.section.no-gap{
    padding-bottom: 0;
}

.skills h2,
.works h2,
.ourTeam h2 {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin: 0 0 50px;
    padding: 0;
}

.skills-item p{
    line-height: 1.7;
    margin: 0;
}

.ourTeam-item p {
    line-height: 1.18;
    margin: 0 0 30px;
    display:inline-block;
}

.skills-item p,
.ourTeam-item p {
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    padding: 0;
}

.skills-item h3{
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.ourTeam-item{
    display: block;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: #ffffff;
}

.ourTeam-item img {
    margin-bottom: 30px;
} 

.ourTeam-item h3 {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin: 0 0 10px;
    padding: 0;

}

.portfolio-nav {
    padding: 0;
    margin: 0 0 50px;
}

.portfolio-nav-item button {
    background-color: #F5F4FA;
    color: var(--title-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;
}

.portfolio-nav-item button:hover,
.portfolio-nav-item button:focus {
    background-color: var(--brand-color);
    color: #ffffff;
    cursor: pointer;
}

.portfolio-list{
    padding: 0;
    margin: 0;
}

.portfolio-list-item {
    border: 1px solid #EEEEEE;
    width: 370px;
    padding: 0 24px 0;
}

.portfolio-list-item img{
    margin:0 -24px 20px;    
}

.portfolio-list-item h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 0;
    margin:0 0 4px;
    color: var(--title-color);
}

.portfolio-list-item p {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0 0 20px;
    color: var(--text-color); 
}

.footer {
    background: #2F303A;
    padding: 60px 0;
}

.logo.foot{
    margin: 0 0 20px;
}

.footer address {
    font-style: normal;
    line-height: 1.5;
}
.footer address a{
    color:rgba(255, 255, 255, 0.6)
}

.footer p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0 0 9px;
}

.contacts.foot li {
    margin: 0 0 9px;
}

.contacts.foot li:last-child{
    margin: 0;
}

.contacts.foot a{
    line-height: 24px;
    letter-spacing: 0.03em;
}