:root {
    --brand-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo {
    color: var(--brand-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-dark-color {
    color: #000000;
}

.logo-bright-color {
    color: #ffffff;
}

.main-nav-item a {
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.02em
}

.contacts-item a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.main-nav-item a:hover,
.main-nav-item a:focus,
.contacts-item a:hover,
.contacts-item a:focus {
    color: var(--brand-color)
}

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;  
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero-btn {
    color: #ffffff;
    background-color: var(--brand-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
}

.ourTeam {
    background: #F5F4FA;
}

.skills h2,
.works h2,
.ourTeam h2 {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.skills-item p{
    line-height: 1.7;
}

.ourTeam-item p {
    line-height: 1.18;
}

.skills-item p,
.ourTeam-item p {
    color: var(--text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.skills-item h3{
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/* .skills-item h3, */
.ourTeam-item h3 {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

}

.portfolio-nav-item button {
    background-color: #F5F4FA;
    color: var(--title-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.portfolio-nav-item button:hover,
.portfolio-nav-item button:focus {
    background-color: var(--brand-color);
    color: #ffffff;
    cursor: pointer;
}

.portfolio-list-item{
    border: 1px solid #EEEEEE;
}

.portfolio-list-item h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.portfolio-list-item p {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--text-color); 
}

.footer {
    background: #2F303A;
}

.footer address {
    font-style: normal;
    line-height: 1.5;
}
.footer address a{
    color:rgba(255, 255, 255, 0.6)
}

.footer p {
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.03em;
}